<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D&M Leasing</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="index.html" class="logo-link">
          <img class="logo-img" src="images/logo.svg" alt="logo">
        </a>
        <nav class="nav-menu">
          <button class="nav-menu__btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <ul class="nav-menu__list">
            <li class="nav-menu__list-item">
              <a class="nav-menu__list-link" href="new-cars.html">NEW CARS</a>
            </li>
            <li class="nav-menu__list-item">
              <a class="nav-menu__list-link" href="pre-owned.html">PRE-OWNED CARS</a>
            </li>
            <li class="nav-menu__list-item">
              <a class="nav-menu__list-link" href="finance.html">FINANCE</a>
            </li>
            <li class="nav-menu__list-item">
              <a class="nav-menu__list-link" href="lease.html">LEASE VS BUY</a>
            </li>
            <li class="nav-menu__list-item">
              <a class="nav-menu__list-link" href="contacts.html">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>