<section class="blog">
    <div class="container">
      <div class="blog__items">
        <div class="blog__item">
          <img class="blog__item-img" src="../images/blog-1.avif" alt="blog1">
          <h4 class="blog__item-title">An easier way to buy your next Toyota</h4>
          <a href="#" class="blog__item-link">more</a>
        </div>
        <div class="blog__item">
          <img class="blog__item-img" src="../images/blog-2.avif" alt="blog2">
          <h4 class="blog__item-title">A Guide to Road-Tripping With Pets</h4>
          <a href="#" class="blog__item-link">more</a>
        </div>
      </div>

      <a href="#" class="showMore-link">show more</a>
    </div>
  </section>